.tituloCatalogo {
	text-align: center;
  color: var(--Dred);
}

.flexContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 28px;
}

.catalogo {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	grid-gap: 20px;
  margin: 28px 0;
}

.ficha {
	background-color: #f1f1f1;
  padding: 10px;
	border-radius: 30px;
	background: white;
	box-shadow: 24px 24px 23px #dadada, -24px -24px 23px #ffffff;
	text-align: center;
	color: var(--Dred);
	font-weight: 700;
	transition: transform ease-in 0.12s;
}

.ficha:hover {
  transform: scale(1.05);
}

.ficha img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}

.ficha h3 {
	margin-top: 10px;
	font-size: 1.4rem;
}

.noselect {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: var(--Hred);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
 }
 
 .noselect, .noselect span {
  transition: 200ms;
 }
 
 .noselect .text {
  transform: translateX(35px);
  color: var(--white);
  font-weight: bold;
 }
 
 .noselect .icon {
  position: absolute;
  border-left: 1px solid var(--Bred);
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 .noselect svg {
  width: 15px;
  fill: var(--white);
 }
 
 .noselect:hover {
  background: #ff3636;
 }
 
 .noselect:hover .text {
  color: transparent;
 }
 
 .noselect:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
 }
 
 .noselect:focus {
  outline: none;
 }
 
 .noselect:active .icon svg {
  transform: scale(0.8);
 }

