:root {
    --Bred: #8a0009;
    --Hred: #e50011;
    --Dred: #300003;
    --white: #f5f5f5;
    --black: #1d1d1d;
  }

.tituloCatalogo {
	text-align: center;
	color: var(--Dred);
}

.fichaTecnica {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
    align-items: center;
	gap: 20px;
    margin-bottom: 28px;
}

.fichaTecnica figure {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 28px 0;
}

.fichaTecnica img {
	width: 258px;
	height: auto;
	border-radius: 10px;
	box-shadow: 24px 24px 23px #dadada, -24px -24px 23px #ffffff;
}

.caracteristicas {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--Dred);
}

.caracteristicas h2 {
	color: var(--Dred);
}

.caracterLista {
	margin: 28px;
}

.caracterLista li {
	margin-top: 8px;
    font-size: 1.1rem;
}

.noselect {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: var(--Hred);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
   }
   
   .noselect, .noselect span {
    transition: 200ms;
   }
   
   .noselect .text {
    transform: translateX(35px);
    color: var(--white);
    font-weight: bold;
   }
   
   .noselect .icon {
    position: absolute;
    border-left: 1px solid var(--Bred);
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .noselect svg {
    width: 15px;
    fill: var(--white);
   }
   
   .noselect:hover {
    background: #ff3636;
   }
   
   .noselect:hover .text {
    color: transparent;
   }
   
   .noselect:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .noselect:focus {
    outline: none;
   }
   
   .noselect:active .icon svg {
    transform: scale(0.8);
   }
  
